<form class="row g-3" method="post">
	{% csrf_token %}
  	<div class="col-md-6">
    	<label class="form-label">Category
    		<button class="badge bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1" aria-controls="offcanvasRight1">Add a new category</button>
    	</label>
    	{{ form.category }}
  	</div>
  	<div class="col-md-6">
    	<label class="form-label">Store
			<button class="badge bg-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight2" aria-controls="offcanvasRight1">Add a new store</button>
    	</label>
    	{{ form.store }}
  	</div>
	<div class="col-md-6">
    	<label class="form-label">Cost</label>
    	{{ form.cost }}
  	</div>
  	<div class="col-md-6">
    	<label class="form-label">Date</label>
    	{{ form.date }}
  	</div>
  	<div class="col-12">
  		<label class="form-label">Note</label>
    	{{ form.note }}
  	</div>
  	<div class="col-md-8">
  	</div>
  	<div class="col-md-4">
    	<button type="submit" name="{{key}}-entry" class="form-control btn btn-outline-secondary">{% if key == 'add' %}Add{% else %}Edit{% endif %}</button>
  	</div>
</form>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1" aria-labelledby="offcanvasRight1Label">
  <div class="offcanvas-header">
    <h5 id="offcanvasRight1Label">ADD A NEW CATEGORY</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {%  include "app/add_category.html" with form=form_c %}
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight2" aria-labelledby="offcanvasRight2Label">
  <div class="offcanvas-header">
    <h5 id="offcanvasRight2Label">ADD A NEW STORE</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {%  include "app/add_store.html" with form=form_s %}
  </div>
</div>