{% extends 'app/base.html' %}

{% block title %}
Spending Tracker
{% endblock %}

{% block content %}

<div class="container">
	<div class="row center">
		<div class="col-md-6">
			<h1>Spending Tracker </h1>
			<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#add-form" style="float: right;">
				Add a new expense
			</button>
			<table class="table table-sm table-hover">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Category</th>
						<th scope="col">Store</th>
						<th scope="col">Amount</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in entries %}
						<tr>
							<th scope="col">{{entry.date}}</th>
							<th scope="col">{{entry.category}}</th>
							<th scope="col">{{entry.store}}</th>
							<th scope="col">{{entry.cost}}</th>
							<th scope="col"></th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="add-form" tabindex="-1" data-bs-backdrop="static" aria-labelledby="add-form-label" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="add-form-label">ADD A NEW EXPENSE</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
        		{%  include "app/add_entry.html" with form=form form_c=form_c from_s=form_s %}
      		</div>
    	</div>
  	</div>
</div>

{% endblock %}