{% extends 'app/base.html' %}

{% block title %}
Spending Tracker
{% endblock %}

{% block content %}

<div class="container">
	<div class="row center">
		<div class="col-10">
			<h1>Spending Tracker</h1>
		</div>
		<div class="col-md-6">
			<div style="margin-top:15px; margin-bottom:5px;">
				<button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#add-form">
					Add a new expense
				</button>
				<button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#filter-entries">
					Filter expenses
				</button>
				<form method="POST" style="display:inline;">
					{% csrf_token %}
					<button type="submit" name="download-data" class="btn btn-outline-dark btn-sm">
						Download data
					</button>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<div style="margin-top:15px; margin-bottom:5px;">
				{% if entry_clicked %}
					<button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#edit-form">
						Edit
					</button>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			<table class="table table-sm table-hover user-select-none">
				<thead>
					<tr>
						<th scope="col">Date</th>
						<th scope="col">Category</th>
						<th scope="col">Store</th>
						<th scope="col">Amount</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in entries %}
						<tr>
							<th scope="col">{{entry.date|date:'Y-m-d'}}</th>
							<th scope="col">{{entry.category}}</th>
							<th scope="col">{{entry.store}}</th>
							<th scope="col">{{entry.cost}}</th>
							<th scope="col">
								<form method="GET">
									<button class="btn btn-dark btn-sm" type="submit" name="e" value={{entry.id}}>view</button>
								</form>
							</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
			<div>
				{% if entry_clicked %}
					{% include "app/item_list.html" with entry=opened_entry form=add_item_form%}
				{% endif %}
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="add-form" tabindex="-1" data-bs-backdrop="static" aria-labelledby="add-form-label" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="add-form-label">ADD A NEW EXPENSE</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
        		{%  include "app/add_entry.html" with form=form key=add form_s=form_s form_c=form_c %}
      		</div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="filter-entries" tabindex="-1" data-bs-backdrop="static" aria-labelledby="filter-entries-label" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="add-form-label">FILTER EXPENSES</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
        		F
      		</div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="edit-form" tabindex="-1" data-bs-backdrop="static" aria-labelledby="edit-form-label" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<h5 class="modal-title" id="add-form-label">EDIT THE EXPENSE</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      		</div>
      		<div class="modal-body">
        		{%  include "app/add_entry.html" with form=form_e key=edit form_s=form_s form_c=form_c %}
      		</div>
    	</div>
  	</div>
</div>

{% endblock %}